---
tags: []
---

# {{ project_name }}

Welcome to your worldbuilding vault.

## World

![[all-characters.base]]
![[all-locations.base]]
![[all-factions.base]]
![[all-items.base]]
![[all-lore.base]]

## Story

![[all-scenes.base]]
{% if project_type == 'ttrpg' %}

## Sessions

![[all-sessions.base]]
![[all-encounters.base]]
{% endif %}

## Quick Links

{% if project_type == 'ttrpg' %}- [[world-primer]]
{% endif %}- [[canon-only.base]]
- [Templates](templates/)
