---
tags: []
---

# {{ project_name }}

Welcome to your worldbuilding vault.

## World

![[all-characters]]
![[all-locations]]
![[all-factions]]
![[all-items]]
![[all-lore]]

## Story

![[all-scenes]]
{% if project_type == 'ttrpg' %}

## Sessions

![[all-sessions]]
![[all-encounters]]
{% endif %}

## Quick Links

{% if project_type == 'ttrpg' %}- [[world-primer]]
{% endif %}- [[canon-only]]
- [Templates](templates/)
